* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 8px lightslategray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header p {
    color: #FFFFFF;
    font-size: 37px;
    font-weight: 700;
    line-height: 43px;
}

p:hover {
    cursor: pointer;
}

.criarQuizz {
    border: 2px dotted #D4D4D4;
    border-radius: 5px;
    width: 1051px;
    height: 181px;
    margin-top: 146px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.criarQuizz span {
    width: 250px;
    height: 107px;
    font-size: 20px;
    word-break: break-word;
    color: #B9B9B9;
    text-align: center;
    margin-top: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 7px;
    line-height: 23px;
}

.criarQuizz button {
    border: 2px dotted #EC362D;
    border-radius: 50px;
    width: 151px;
    height: 40px;
    margin-bottom: 33px;
    cursor: pointer;
    background-color: #FAFAFA;
    font-size: 18px;
    color: #EC362D;
}

.todosOsQuizzes h1 {
    font-size: 18px;
    margin-top: 77px;
    font-weight: 700;
    margin-bottom: 10px;
}

.containerImagens {
    width: 1051px;
    height: 374px;
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top2 {
    position: relative;
    margin-top: 70px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) ,rgba(0,0,0,0.6));
    width: 340px;
    height: 181px;
    z-index: 1;
}

.imagemQuizz {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-bottom: 12px;
    z-index: 0;
}

.tituloQuizz {
    width: 301px;
    height: 54px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 22.27px;
    font-size: 19px;
    align-items: center;
    text-align: center;
    position: absolute;
    word-break: break-word;
    margin: -60px;
    margin-left: 10px;
}

.escondido {
    display: none;
}


/*página quizz*/
.telaDois {
    width: 100%;
}

.conteudo-quizz {
    width: 100%;
}

.pagina-quizz {
    width: 100%;
}

.top {
    width: 100%;
    margin-top: 69px;
    position: relative;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) ,rgba(0,0,0,0.6));
}

.top>img {
    height: 227px;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.titulo-quizz {
    font-size: 39px;
    color: #ffffff;
    font-weight: 400;
    height: 227px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.conteudo-perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perguntas {
    width: 759px;
    padding: 25px 35px 25px 35px;
    margin-top: 70px;
    box-shadow: 0 0 1em rgba(0,0,0,0.3);
    background-color: #ffffff;
}

.perguntas:last-child {
    margin-bottom: 30px;
}

.pergunta {
    font-size: 23px;
    font-weight: 700;
    color: #e5e5e5;
    height: 138px;
    width: 689px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.respostas {
    width: 689px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resposta:hover {
    cursor: pointer;
}

.resposta>img {
    height: 175px;
    width: 330px;
    margin-top: 20px;
}
.resposta-texto {
    width: 330px;
    word-break: break-all;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
/* TELA 3-1 */
.tela3-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 69px;
    justify-content: center;
    align-items: center;
}
h2 {
    min-height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}
ul.containerInformaçõesBasicas {
    background-color: #FFFFFF;
    margin-top: 10px;
    height: 256px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
input {
    height: 46px;
    width: 564px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    color: #BABABA;
    font-size: 17px;
    word-break: break-word;
}
.botaoVermelho {
    background: #EC362D;
    width: 368.86px;
    height: 54px;
    margin-top: 86px;
    border-radius: 15px;
    margin-bottom: 435px;
}
.botaoVermelho button {
    color: #FFF5F4;
    font-size: 21px;
    line-height: 24.61px;
    width: 100%;
    height: 100%;
    background: #EC362D;
    border-radius: 15px;
    cursor: pointer;
}
/* TELA 3-2 */
.tela3-2 {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 69px;
    height: 100%;
}
ul.questao1 {
    width: 375px;
    height: 825px;
    margin-top: 28px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
}
ul.questao1:first-child {
    margin-top: -28px;
} 
input:nth-child(13) {
    margin-bottom: 18px;
}
.main img {
    width: 25px;
    margin-right: 25px;
}
/* TELA 3.3 */
.nivel1 textarea:last-of-type {
    border: 1px solid #d1d1d1;
    height: 177px;
    margin-bottom: 20px;
    width: 341px;
    overflow-y: scroll;
    resize: none;
}
ul.nivel1:first-child {
    margin-bottom: 20px;
}
ul.nivel1 textarea::-webkit-scrollbar {
    display: none;
}
*:focus {
    outline: none;
}  
*:focus::placeholder {
    color: transparent;
} 
ul.nivel1 textarea::placeholder {
    padding-top: 20px;
}
ul.nivel1 {
    background-color: #FFFFFF;
    width: 375px;
    height: 439px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 28px;
}
ul.nivel1:first-child {
    margin-top: -28px;
} 
.main h3 {
    width: 200px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    margin: 27px auto 0px 17px;
}
.tela3-3 ul.nivel1:last-of-type {
    margin-bottom: 0px;
}
.botaoVermelho {
    background: #EC362D;
    width: 368.86px;
    height: 54px;
    margin-top: 86px;
    border-radius: 15px;
    margin-bottom: 435px;
}
.botaoVermelho button {
    color: #FFF5F4;
    font-size: 21px;
    line-height: 24.61px;
    width: 100%;
    height: 100%;
    background: #EC362D;
    border-radius: 15px;
    cursor: pointer;
}
/* TELA 3.4 */
.tela3-4 {
    width: 375px;
    height: 749px;
}
.tela3-4 h2 {
    min-height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}
.tela3-4 ul.telaSucesso {
    width: 340px;
    height: 181px;
    cursor: pointer;
    word-wrap: break-word;
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 5px;
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%,#000000 100%);
    background-position: center;
    background-size: cover;
}
.tela3-4 ul.telaSucesso span {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 19px;
    line-height: 22px;
    padding-left: 17px;
    padding-bottom: 17px;
}
.clicar {
    background-color: #FFFFFF;
    width: 375px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
    cursor: pointer;
}
.clicar h2 {
    align-items: center;
    color: #000000;
    margin-left: 17px;
    display: flex;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}
.abrirDiv {
    margin-right: 26px;
    width: 26px;
    height: 26px;
}
.escondido {
    display: none;
}

.certo {
    color: #009C22;
}

.errado {
    color: #FF4B4B;
}

.nao-selecionado {
    opacity: 40%;
}

.finalizar {
    width: 759px;
    margin: auto;
    padding: 15px 15px 15px 15px;
    box-shadow: 0 0 1em rgba(0,0,0,0.3);
    background-color: #e5e5e5;
    margin-top: 15px;
    margin-bottom: 57px;
}

.finalizar-top {
    font-size: 23px;
    font-weight: 700;
    color: #ffffff;
    height: 100px;
    width: 727px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.finalizar-content {
    display: flex;
}

.finalizar-texto {
    margin-left: 18px;
    color: #484848;
    font-size: 19px;
    font-weight: 700;
    word-break: break-all;
}

.finalizar-imagem {
    height: 273px;
    width: 364px;
}

.finalizar-imagem>img {
    height: 273px;
    width: 364px;
}

.reiniciar {
    margin: auto;
    height: 52px;
    width: 260px;
    color: #ffffff;
    background-color: #EC362D;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.reiniciar:hover {
    cursor: pointer;
}

.voltar {
    margin: auto;
    height: 44px;
    width: 260px;
    color: #818181;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
}

.voltar:hover {
    cursor: pointer;
}


/*RESPONSIVIDADE*/
@media (max-width: 375px) {

    body {
        width: 375px;
    }

    .conteudo-quizz {
        width: 100%;
    }
    
    .pagina-quizz {
        width: 100%;
    }

    header {
        width: 375px;
    }

    .top>img {
        height: 142px;
    }

    .titulo-quizz {
        font-size: 19px;
    }

    .perguntas {
        width: 100%;
        margin-top: 24px;
        padding: 18px 18px 18px 18px;
    }

    .pergunta {
        font-size: 19px;
        height: 90px;
        width: auto;
    }

    .resposta>img {
        height: 113px;
        width: 163px;
        margin-top: 13px;
    }
    .resposta-texto {
        width: 163px;
        font-size: 13px;
        margin-top: 5px;
    }

    .respostas {
        width: 100%;
    }
}